@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #2C2C2E;
  font-family: "Montserrat", sans-serif;
  background: url("../img/fon.jpg");
  background-attachment: fixed;
}

.header {
  height: 50px;
  margin: 0px auto 30px auto;
  left: 0%;
  right: 0%;
  color: #eeeeee;
  max-width: 1114px;
  z-index: 10;
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
}
.header .header-container {
  display: flex;
  height: 100%;
  background-color: #000;
  border-radius: 10px;
}
.header .header-container .header__logo {
  font-size: 28px;
  margin: auto 10px;
  z-index: 1;
}
.header .header-container .menu__list {
  margin: auto 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
@media (max-width: 820px) {
  .header .header-container .menu__list {
    display: none;
  }
}
.header .header-container .menu__list .navbar {
  display: flex;
}
.header .header-container .menu__list .navbar li a {
  margin: 0 20px;
  color: #F8F8F8;
  transition: all 0.2s ease;
}
.header .header-container .menu__list .navbar li a:hover {
  color: #FF4656;
}
.header .header-container .menu__list .menu__link {
  font-size: 24px;
  position: relative;
  padding-bottom: 20px;
}
.header .header-container .menu__list .menu__sub-list {
  max-height: 0;
  overflow: hidden;
  background-color: #2f353a;
  position: absolute;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  pointer-events: all;
  pointer-events: none;
  transition: max-height 0.4s ease;
}
.header .header-container .menu__list .menu__sub-list li {
  margin: 20px;
}
.header .header-container .menu__list .menu__sub-list .menu__sab-link {
  font-size: 16px;
  font-weight: 400;
}
.header .header-container .menu__list .navbar li:hover .menu__sub-list {
  max-height: 300px;
  box-shadow: 0px 0px 10px 2px #FF4656;
  pointer-events: fill;
}
.header .header-container .hamburger-menu {
  display: none;
}
@media (max-width: 820px) {
  .header .header-container .hamburger-menu {
    display: flex;
  }
  .header .header-container .hamburger-menu #menu__toggle {
    display: none;
  }
  .header .header-container .hamburger-menu .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 34px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .header .header-container .hamburger-menu .menu__btn > span,
  .header .header-container .hamburger-menu .menu__btn > span::before,
  .header .header-container .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F8F8F8;
  }
  .header .header-container .hamburger-menu .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .header .header-container .hamburger-menu .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .header .header-container .hamburger-menu .menu__box {
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0px;
    padding-top: 60px;
    height: 100vh;
    background-color: #2f353a;
    transition: width 0.3s ease;
  }
  .header .header-container .hamburger-menu .menu__box li {
    min-width: 220px;
    margin: 20px 0;
    min-height: 44px;
  }
  .header .header-container .hamburger-menu .menu__box li a {
    display: block;
    height: 44px;
    margin: 0 30px;
  }
  .header .header-container .hamburger-menu .menu__box li._active > .menu__sub-list {
    max-height: 400px;
  }
  .header .header-container .hamburger-menu .menu__box li._active .menu__box-arrow .menu__arrow img {
    transform: rotate(180deg);
  }
  .header .header-container .hamburger-menu .menu__box .menu__box-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-container .hamburger-menu .menu__box .menu__box-arrow .menu__item {
    font-size: 20px;
    color: #F8F8F8;
  }
  .header .header-container .hamburger-menu .menu__box .menu__box-arrow .menu__arrow {
    display: inline-block;
    transition: all 0.5s ease 0s;
    width: 40px;
    height: 44px;
    margin: 0 0 0 auto;
    background-color: #252a2e;
    cursor: pointer;
  }
  .header .header-container .hamburger-menu .menu__box .menu__box-arrow .menu__arrow img {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
  }
  .header .header-container .hamburger-menu .menu__box .menu__item {
    font-size: 20px;
    color: #F8F8F8;
  }
  .header .header-container .hamburger-menu .menu__box .menu__sub-list {
    max-height: 0;
    font-size: 20px;
    background-color: #252a2e;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }
  .header .header-container .hamburger-menu .menu__box .menu__sub-list li a {
    color: #F8F8F8;
  }
  .header .header-container .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .header .header-container .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .header .header-container .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header .header-container .hamburger-menu #menu__toggle:checked ~ .menu__box {
    width: 100%;
  }
  .header .header-container .hamburger-menu .menu__btn > span,
  .header .header-container .hamburger-menu .menu__btn > span::before,
  .header .header-container .hamburger-menu .menu__btn > span::after {
    transition-duration: 0.25s;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.one-page {
  background: url("../img/fon.jpg") 0 0 no-repeat;
  min-height: 110vh;
  padding-top: 10px;
  background-attachment: fixed;
  z-index: 1;
}
.one-page .main {
  color: #fff;
  transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
}
.one-page .main .container .main__block {
  display: flex;
  justify-content: center;
}
.one-page .main .container .main__block .columns-block-left {
  width: 171px;
  min-height: 70vh;
  background-color: #1C1C1E;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.one-page .main .container .main__block .columns-block-left .columns-block-left__text {
  font-size: 30px;
  writing-mode: vertical-rl;
  font-weight: bold;
  margin: auto;
}
.one-page .main .container .main__block .columns-block-left .columns-block__messenger {
  width: 80px;
  height: 80px;
  background-color: rgba(235, 235, 245, 0.2392156863);
  border-radius: 50%;
  margin: auto;
}
.one-page .main .container .main__block .columns-block-left .columns-block__messenger .columns-block-left__vk {
  display: flex;
  width: 100%;
  height: 100%;
}
.one-page .main .container .main__block .columns-block-left .columns-block__messenger .columns-block-left__vk img {
  width: 40px;
  margin: 0 auto;
}
.one-page .main .container .main__block .columns-block-center {
  margin: 0 42px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.one-page .main .container .main__block .columns-block-center .columns-block-center__img {
  max-width: 60vh;
  margin-bottom: 30px;
}
.one-page .main .container .main__block .columns-block-center .columns-block-center__img img {
  width: 100%;
  border-radius: 50px;
  box-shadow: 0 4px 18.1px 0 #00a7ae;
}
.one-page .main .container .main__block .columns-block-center .columns-block-center__block {
  width: 100%;
  min-height: 20vh;
  background-color: #1C1C1E;
}
.one-page .main .container .main__block .columns-block-center .columns-block-center__block .columns-block-center__text {
  height: 100%;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-page .main .container .main__block .columns-block-right {
  width: 171px;
  min-height: 70vh;
  background-color: #1C1C1E;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.one-page .main .container .main__block .columns-block-right .columns-block-right__body {
  width: 100%;
  height: 75%;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.one-page .main .container .main__block .columns-block-right .columns-block-right__body .columns-block-right__text {
  font-size: 20px;
  font-weight: bold;
}
.one-page .main .container .main__block .columns-block-right .columns-block__messenger {
  width: 80px;
  height: 80px;
  background-color: rgba(235, 235, 245, 0.2392156863);
  border-radius: 50%;
  margin: auto;
}
.one-page .main .container .main__block .columns-block-right .columns-block__messenger .columns-block-right__tg {
  display: flex;
  width: 100%;
  height: 100%;
}
.one-page .main .container .main__block .columns-block-right .columns-block__messenger .columns-block-right__tg img {
  width: 40px;
  margin: 0 auto;
}
.one-page .main .container .main__block-footer {
  max-width: 1072px;
  height: 25px;
  background-color: #1C1C1E;
  margin: 15px auto;
  box-shadow: 0 4px 4px 0 #00a7ae;
}

.services {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.services .services__header {
  background-attachment: fixed;
  margin-bottom: -180px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.services .body-services {
  background-color: #2C2C2E;
  position: relative;
  text-align: center;
}
.services .body-services::after {
  content: url("../img/FRONTEND.png");
  position: absolute;
  font-weight: 500;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  top: calc(var(--scrollTop) / 2);
}
.services .body-services .container .body-services__title {
  font-weight: 700;
  font-size: 86px;
  text-align: center;
  color: #fefefe;
  margin-bottom: 80px;
}
.services .body-services .container .body-services__title h2 {
  text-shadow: 0 0 17px #00f8ff;
}
.services .body-services .container .body-services__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  position: relative;
}
.services .body-services .container .body-services__row .services-block {
  background-color: #1C1C1E;
  max-width: 405px;
  border-radius: 20px;
  padding: 32px;
  margin: 0 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services .body-services .container .body-services__row .services-block .services-block__img {
  margin-bottom: 30px;
}
.services .body-services .container .body-services__row .services-block .services-block__img img {
  width: 100%;
  border-radius: 20px;
}
.services .body-services .container .body-services__row .services-block .services-block__body .services-block__title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.services .body-services .container .body-services__row .services-block .services-block__body .services-block__button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.services .body-services .container .body-services__row .services-block .services-block__body .services-block__button div {
  display: flex;
  border: 1px solid #fff;
  border-radius: 50px;
  justify-content: center;
}
.services .body-services .container .body-services__row .services-block .services-block__body .services-block__button div p {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin: 10px 20px;
}
.services .body-services .container .circol-box-right {
  width: 0;
}
.services .body-services .container .circol-box-right::after {
  content: "";
  width: 300px;
  height: 300px;
  background-color: #00fdfe;
  border-radius: 50%;
  filter: blur(140px);
  position: absolute;
  left: 100%;
  top: 6%;
  z-index: 1;
}
.services .body-services .container .circol-box-left {
  width: 0;
}
.services .body-services .container .circol-box-left::after {
  content: "";
  width: 400px;
  height: 100px;
  background-color: #00fdfe;
  border-radius: 50%;
  filter: blur(200px);
  position: absolute;
  top: 70%;
  right: 80%;
  z-index: 1;
}
.services .services__footer {
  background-attachment: fixed;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}