/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #2C2C2E;
    font-family: "Montserrat", sans-serif;

    background: url("../img/fon.jpg");
    background-attachment: fixed;
}

@import "navbar.scss";



.container{
    max-width: 1400px;
    margin: 0 auto;
}

.one-page{
    background: url('../img/fon.jpg') 0 0 no-repeat;
    min-height: 110vh;
    padding-top: 10px;
    background-attachment: fixed;
    z-index: 1;

    .main{
        color: #fff;

        transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
    
        .container{
            .main__block{
                display: flex;
                justify-content: center;
    
                .columns-block-left{
                    width: 171px;
                    min-height: 70vh;
                    background-color: #1C1C1E;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    .columns-block-left__text{
                        font-size: 30px;
                        writing-mode: vertical-rl;
                        font-weight: bold;
                        margin: auto;
                    }
    
                    .columns-block__messenger{
                        width: 80px;
                        height: 80px;
                        background-color: #ebebf53d;
                        border-radius: 50%;
                        margin: auto;
    
                        .columns-block-left__vk{
                            display: flex;
                            width: 100%;
                            height: 100%;
    
                            & img{
                                width: 40px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
                .columns-block-center{
                    margin: 0 42px;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
    
                    .columns-block-center__img{
                        max-width: 60vh;
                        margin-bottom: 30px;

                        & img{
                            width: 100%;
                            border-radius: 50px;
                            box-shadow: 0 4px 18.1px 0 #00a7ae;
                        }
                    }
    
                    .columns-block-center__block{
                        width: 100%;
                        min-height: 20vh;
                        background-color: #1C1C1E;
    
                        .columns-block-center__text{
                            height: 100%;
                            font-size: 48px;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
    
                .columns-block-right{
                    width: 171px;
                    min-height: 70vh;
                    background-color: #1C1C1E;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    .columns-block-right__body{
                        width: 100%;
                        height: 75%;
                        padding: 70px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        
                        .columns-block-right__text{
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
    
    
    
                    .columns-block__messenger{
                        width: 80px;
                        height: 80px;
                        background-color: #ebebf53d;
                        border-radius: 50%;
                        margin: auto;
                        
                        .columns-block-right__tg{
                            display: flex;
                            width: 100%;
                            height: 100%;
    
                            & img{
                                width: 40px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
    
            .main__block-footer{
                max-width: 1072px;
                height: 25px;
                background-color: #1C1C1E;
                margin: 15px auto;
    
                box-shadow: 0 4px 4px 0 #00a7ae;
            }
        }
    }
}

.services{
    overflow: hidden;
    position: relative;
    z-index: 2;

    .services__header{
        background-attachment: fixed;
        margin-bottom: -180px;

        pointer-events: none;
        user-select: none;
    }

    .body-services{
        background-color: #2C2C2E;

        position: relative;
        text-align: center;

        &::after{
            content: url('../img/FRONTEND.png');
            position: absolute;
            font-weight: 500;
            left: 0;
            right: 0;
            width: 100%;

            z-index: 1;

            top: calc(var(--scrollTop) / 2);
        }

        .container{

            .body-services__title{
                font-weight: 700;
                font-size: 86px;
                text-align: center;
                color: #fefefe;
                margin-bottom: 80px;
                
                & h2{
                    text-shadow: 0 0 17px #00f8ff;
                }
            }

            .body-services__row{
                display: flex;
                justify-content: space-between;
                padding-bottom: 80px;
                position: relative;

                .services-block{
                    background-color: #1C1C1E;
                    max-width: 405px;
                    border-radius: 20px;
                    padding: 32px;
                    margin: 0 10px;
                    z-index: 2;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .services-block__img{
                        margin-bottom: 30px;

                        & img{
                            width: 100%;
                            border-radius: 20px;
                        }
                    }

                    .services-block__body{

                        .services-block__title{
                            font-weight: 700;
                            font-size: 28px;
                            text-align: center;
                            color: #fff;
                            margin-bottom: 20px;
                        }

                        .services-block__button{
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            & div{
                                display: flex;
                                border: 1px solid #fff;
                                border-radius: 50px;
                                justify-content: center;

                                & p{
                                    font-weight: 500;
                                    font-size: 24px;
                                    color: #fff;
                                    margin: 10px 20px;
                                }
                            }
                        }
                    }
                }
            }

            .circol-box-right{
                width: 0;
                &::after{
                    content: '';
                    width: 300px;
                    height: 300px;
                    background-color: #00fdfe;
                    border-radius: 50%;
                    filter: blur(140px);
                    position: absolute;
                    left: 100%;
                    top: 6%;

                    // top: calc((var(--scrollTop) - 10% ) / 2);
        
                    z-index: 1;
                }
            }
            .circol-box-left{
                width: 0;
                &::after{
                    content: '';
                    width: 400px;
                    height: 100px;
                    background-color: #00fdfe;
                    border-radius: 50%;
                    filter: blur(200px);
                    position: absolute;
                    top: 70%;
                    right: 80%;

                    // top: calc((var(--scrollTop) - 100% ) / 2.5);
        
                    z-index: 1;
                }
            }
        }
    }

    .services__footer{
        background-attachment: fixed;

        pointer-events: none;
        user-select: none;
    }
}


